# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# ---- 虚拟环境 ----
.venv/
venv/
env/

# ---- 编辑器 / 系统 ----
.idea/
.vscode/
.DS_Store
Thumbs.db

# ---- 临时文件 ----
*.tmp
*.bak
~$*
